#scene {
  width: 210vmin;
  height: 200vmin;
  border-radius: 5vmin;
  transform: rotateX(30deg) translateX(-100vmin) translateY(-100vmin) translateZ(40vmin);
  transition: transform .2s linear;
  background: url(grass.jpg); 
  background-size: 70vmin;
}

#scene.intro {
  transition: transform 2s;
}

.sd #scene {
  background: radial-gradient(#5F9D3F 6vmin, #034301 200vmin) -1vmin -2vmin;
  background-size: auto;
}

.hole {
  width: 15vmin;
  height: 15vmin;
  position: fixed;
  top: 0;
  left: 0;
  background: radial-gradient(circle, #000 2vmin, rgba(86, 66, 37, .75) 5vmin, transparent 6vmin) no-repeat;
}

#scenedepth {
  position: absolute;
  left: 3vmin;
  top: 0;
  width: 207vmin;
  height: 120vmin;
  transform: translateY(210vmin) rotateX(-45deg);
  background: linear-gradient(transparent 20%, #fff), url(terre.jpg);
  background-size: 100%, 70vmin;
  transform-origin: top center;
}

.sd #scenedepth {
  background: linear-gradient(#725f1b, #fff);
}

.tree {
  width: 42vmin;
  height: 60vmin;
  transform-origin: bottom center;
  transform: translateX(-50%) translateY(5vmin) rotateX(-45deg);
  position: fixed;
  bottom: 100%;
  left: 0;
  -moz-pointer-events: none;
  -webkit-pointer-events: none;
  pointer-events: none;
}

.treeshadow {
  width: 42vmin;
  height: 55vmin;
  transform-origin: center bottom;
  transform: translateX(-50%) scaleX(-1) translateY(0vmin) rotateZ(235deg);
  background: url(treeshadow.png) no-repeat;
  opacity: .2;
  background-size: 100%;
  position: fixed;
  bottom: 100%;
  left: 0;
  -moz-pointer-events: none;
  -webkit-pointer-events: none;
  pointer-events: none;
}

.sd .treeshadow {
  display: none;
}

.treecontent {
  width: 50vmin;
  height: 60vmin;
  transform-origin: center bottom;
  background: url(tree.png) no-repeat;
  background-size: 100% 100%;
  position: absolute;
  top: 0;
  left: 0;
  pointer-events: none;
  transition: transform .15s linear;
}

.sd .treecontent {
  background: radial-gradient(circle at 50% 30%, #067201, #014500 15vmin, transparent 15vmin) left top, linear-gradient(90deg, transparent 45%, #483e06 45%, #685e06 50%, #483e06 55%, transparent 55%) no-repeat center bottom;
  background-size: 100%, 100% 50%;
}

.sd .stone {
  display: none;
}

.stone {
  position: fixed;
  width: 8vmin;
  height: 6vmin;
  bottom: 100%;
  left: 0;
  background: url(stone.png);
  background-size: 100%;
}

.bridge {
  position: absolute;
  width: 200vmin;
  height: 30vmin;
  background: url("wood.jpg");
  transform-origin: left center;
  transform: rotateY(90deg) translateZ(-.5vmin);
  transition: transform 2s;
}

.bridge.open {
  transform: rotateY(0deg) translateZ(-.5vmin);
}

.sd .bridge {
  background: linear-gradient(90deg, #483e06, #685e06) repeat;
  background-size: 10vmin 100%;
}